[Unit]
Description=Application service
After=syslog.target

[Service]
EnvironmentFile=/home/ec2-user/environment.service
User=ec2-user
ExecStart=/home/ec2-user/server/meli-gateway-0.0.1-SNAPSHOT.jar 
SuccessExitStatus=143
[Install] 
WantedBy=multi-user.target